#app {
  max-width: 1280px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #cae0fd;
  color: #918db4;
}
.currency-form {
  justify-content: center;
  background-color: #888ba7;
  border-radius: 20px;
  box-sizing: border-box;
  height: 330px;
  padding: 20px;
  width: 340px;
  background: #feffff;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border: 1px solid rgba(225, 228, 230, 0.18);
  font-family: "Nunito", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

.currency-label {
  margin-bottom: 10px;
}

.currency-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  padding: 5px 10px;
  width: 91%;
  outline: none;
  background: #ffffff;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
}
.currency-input:focus {
  background: rgba(175, 174, 231, 0.068);
  border: 1px solid #918db4;
  border-radius: 10px;
}

.currency-select {
  justify-content: space-around;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 15px;
  margin-left: 18px;
  width: 40%;
  outline: none;
  background: #ffffff;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0px #e2e2e2;
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
